@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root { height: 100%; }

* { -webkit-tap-highlight-color: transparent; }

@layer base {
  body {
    @apply bg-zinc-950 text-white antialiased;
  }
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

